.codePanel {
  @apply relative min-w-[18rem] bg-neutral-700 bg-opacity-60 pt-12 pb-7 px-5 text-neutral-200 rounded-lg my-5;

  &:before {
    content: "";
    @apply absolute top-5 left-1 block h-3 w-3 rounded-full opacity-20;
    box-shadow: 1em 0, 2.25em 0, 3.5em 0;
  }

  pre {
    @apply pl-0;
    &:before {
      @apply w-5 opacity-50 inline-block;
      content: "";
    }

    code {
      @apply inline-grid;
    }
  }

  pre[data-prefix] {
    &:before {
      content: attr(data-prefix);
    }
  }
}
