.header {
  background: var(--color-panel-translucent);
  border-bottom: 1px solid var(--gray-a2);
}

.dimmed {
  color: var(--color-text-dimmed);
}

/* diagram title */
.title {
  border-radius: var(--radius-2);
  cursor: var(--cursor-link);

  &:hover {
    background-color: var(--gray-a3);
  }
}

.titleHoverCardContent {
  width: var(--radix-hover-card-trigger-width);
  min-width: 200px;
  max-width: 500px;
}
