.container {
  --xy-edge-stroke: var(--likec4-relation-lineColor);
  --xy-edge-stroke-selected: color-mix(in srgb, var(--likec4-relation-lineColor) 50%, white);
  --xy-edge-label-color: var(--likec4-relation-labelColor);
  --xy-edge-label-background-color: color-mix(in srgb, var(--likec4-relation-labelBg) 50%, transparent);
  --xy-edge-stroke-width: 2;

  :global(.react-flow__edge-textbg) {
  }

  &[data-edge-hovered='true'] {
    /* to highlight marker */
    --xy-edge-stroke: color-mix(in srgb, var(--likec4-relation-lineColor) 70%, white);
  }

  :where(:global(.react-flow__edge.selected)) & {
    --xy-edge-stroke-width: 2.5;
  }
}

.fillStrokeCtx {
  fill: var(--xy-edge-stroke);
  stroke: var(--xy-edge-stroke);

  :where(:global(.react-flow__edge.selected)) & {
    --xy-edge-stroke: var(--xy-edge-stroke-selected);
  }
}

:global(.react-flow__edge-path).edgePath {
  transition: all 110ms ease-out;
  /* stroke: var(--likec4-relation-lineColor);
  stroke-width: 2;
  transition: all 110ms ease-in-out;

  :where([data-edge-hovered="true"]) &,
  :where(:global(.react-flow__edge.selected)) & {
    stroke: color-mix(in srgb, var(--likec4-relation-lineColor) 80%, white);
    stroke-width: 2.2;
  } */
  mix-blend-mode: luminosity;
}

.controlPoint {
  --_color: var(--mantine-primary-color-5);

  fill: var(--_color);
  radius: 5;
  transition: all 120ms ease-out;
  stroke: transparent;
  stroke-width: 15;
  opacity: 0;
  cursor: move;
  pointer-events: all;
  transform-origin: 50% 50%;

  :where([data-edge-hovered='true']) &,
  :where(:global(.react-flow__edge.selected)) & {
    opacity: 1;
  }

  &:hover {
    --_color: var(--mantine-color-red-6);
  }
}

.edgeLabelBbox {
  fill: var(--likec4-relation-labelBg);
  visibility: hidden;
}

.edgeLabel {
  position: absolute;
  pointer-events: all;
  cursor: pointer;
  transform-origin: 50% 50%;
  transition: all 120ms ease-out;
  isolation: auto;
  text-align: left;
  mix-blend-mode: luminosity;
  --text-color: var(--likec4-relation-labelColor);

  &[data-edge-hovered='true'] {
    transform: scale(1.08);
    transition-delay: 120ms;
    --text-color: color-mix(in srgb, var(--likec4-relation-labelColor) 70%, white);
  }
}

.edgeLabelBody {
  display: inline-block;
  padding: 2px 5px;
  background-color: color-mix(in srgb, var(--likec4-relation-labelBg) 35%, transparent);
  border-radius: 3px;
  color: var(--text-color);
  font-size: rem(12);
  line-height: 1.25;
}
