@layer reset, base, mantine, xyflow, tokens, recipes, utilities;
@import "@mantine/core/styles.layer.css";
@import "@xyflow/react/dist/style.css" layer(xyflow);

/* @layer mantine2 {
  :where(:root, :host) {
    --mantine-heading-font-weight: 500;
    --mantine-primary-color-0: var(--mantine-color-indigo-0);
    --mantine-primary-color-1: var(--mantine-color-indigo-1);
    --mantine-primary-color-2: var(--mantine-color-indigo-2);
    --mantine-primary-color-3: var(--mantine-color-indigo-3);
    --mantine-primary-color-4: var(--mantine-color-indigo-4);
    --mantine-primary-color-5: var(--mantine-color-indigo-5);
    --mantine-primary-color-6: var(--mantine-color-indigo-6);
    --mantine-primary-color-7: var(--mantine-color-indigo-7);
    --mantine-primary-color-8: var(--mantine-color-indigo-8);
    --mantine-primary-color-9: var(--mantine-color-indigo-9);
    --mantine-primary-color-filled: var(--mantine-color-indigo-filled);
    --mantine-primary-color-filled-hover: var(--mantine-color-indigo-filled-hover);
    --mantine-primary-color-light: var(--mantine-color-indigo-light);
    --mantine-primary-color-light-hover: var(--mantine-color-indigo-light-hover);
    --mantine-primary-color-light-color: var(--mantine-color-indigo-light-color);
    --mantine-h1-font-weight: 600;
    --mantine-h2-font-weight: 500;
    --mantine-h3-font-weight: 500;
    --mantine-h4-font-weight: 500;
    --mantine-h5-font-weight: 500;
    --mantine-h6-font-weight: 500;
  }
} */

/* @layer tokens2 { */
.likec4-shadow-root {
  display: contents;
  --likec4-default-font-family:
    "IBM Plex Sans",ui-sans-serif system-ui,
    sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  /* width: 100%;
  height: 100%; */
  --mantine-font-family: var(--likec4-default-font-family);
  --mantine-font-family-headings: var(--likec4-default-font-family);
}
/* } */
