@import url('@xyflow/react/dist/style.css');
@import url('./theme-colors.css');

.mantine-ActionIcon-icon {
  svg {
    width: 75%;
    height: 75%;
  }
}

.transparent-bg {
}

.react-flow {

  &[data-likec4-nopan] {
    & .react-flow__pane {
      cursor: default;
    }
  }

  &[data-likec4-nobg] {
    --xy-background-color: transparent !important;
    background-color: transparent !important;

    & .react-flow__attribution {
      display: none;
    }
  }

  --likec4-font-family: var(--likec4-default-font, var(--mantine-font-family));
  --likec4-compound-font-family: var(--likec4-font-family);
  --likec4-element-font-family: var(--likec4-font-family);
  --likec4-edge-font-family: var(--likec4-font-family);
}
