---
import { Aside } from "@astrojs/starlight/components";
---

<Aside type="tip" title="Advanced Customization">
  <p>
    For even more advanced customization including custom React components, shapes, and overlays, check out the <a
      href="https://github.com/likec4/example-customization"
      target="_blank"
    >example-customization</a> repository which demonstrates:
  </p>
  <ul>
    <li><strong>Custom Element Nodes</strong>: Override default node rendering with custom React components</li>
    <li><strong>Custom Shapes</strong>: Implement unique visual representations using SVG and drawing libraries</li>
    <li><strong>Custom Overlays</strong>: Create interactive dialogs for displaying detailed information</li>
    <li><strong>Enhanced Interactions</strong>: Add custom buttons, toolbars, and interactive behaviors</li>
  </ul>
  <p>
    <a href="https://stackblitz.com/~/github.com/likec4/example-customization" target="_blank">
      <img
        src="https://developer.stackblitz.com/img/open_in_stackblitz.svg"
        alt="Open in StackBlitz"
      />
    </a>
  </p>
</Aside>
