.radix-themes {
  --font-weight-bold: 600;
  --color-text-dimmed: var(--gray-a8);
}

*,
:before,
:after {
  box-sizing: border-box;
  outline: none;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#like4-root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /* overscroll-behavior: none;
  overflow: hidden; */
  /* & > div {
    position: fixed;
    inset: 0;
  } */
}

.transparent-bg {
  --color-page-background: transparent !important;
  --xy-background-color: transparent !important;

  body {
    background-color: transparent !important;
  }

  .react-flow__attribution {
    display: none;
  }
}

body {
  --mantine-font-family: 'Rubik Variable', sans-serif;
  --default-font-family: 'Rubik Variable', sans-serif;
  --likec4-font-family: 'Rubik Variable', sans-serif;
  font-family:  'Rubik Variable', sans-serif;
}
