@layer reset, base, mantine, xyflow, tokens, recipes, utilities;
@import "@mantine/core/styles.layer.css";
@import "@xyflow/react/dist/style.css" layer(xyflow);
@import "@fontsource/ibm-plex-sans/400.css";
@import "@fontsource/ibm-plex-sans/500.css";
@import "@fontsource/ibm-plex-sans/600.css";

:root {
  --likec4-app-font:
    "IBM Plex Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --likec4-default-font-family: var(--likec4-app-font);
  --mantine-default-font-family: var(--likec4-app-font);
  --likec4-background-color: var(--mantine-color-body);
  /* --xy-background-pattern-color: var(--mantine-color-dark-8); */
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

#likec4-root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

:where(.mantine-ActionIcon-icon) .tabler-icon {
  width: 70%;
  height: 70%;
}

.transparent-bg {
  --likec4-background-color: transparent !important;
  --xy-background-color: transparent !important;
  background-color: transparent !important;

  body {
    --likec4-background-color: transparent !important;
    --xy-background-color: transparent !important;
    background-color: transparent !important;
  }

  .react-flow__attribution {
    display: none;
  }
}
