*,
:before,
:after {
  box-sizing: border-box;
  outline: none;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  background-color: hsl(60, 3.7%, 10.6%);

}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
}


.dev-app {
  position: fixed;
  inset: 0;
  /* flex-shrink: 0;
  width: 400px;
  background-color: hsl(0deg 0% 37.21%);
  border-radius: 0.75rem;
  padding: 2rem;
  margin: 2rem; */
}
