.eslintrc.cjs
ship.config.cjs
.yarn/
.vscode
node_modules
dist
.turbo
**/*.d.ts
packages/*/esbuild.*
packages/cli/likec4.js
vite.config.*
vitest.config.*
vitest.shared.*
vitest.workspace.*
docs/*.ts
docs/*.tsx
docs/*.js
docs/*.mjs
docs/components/ui/
packages/*/src/generated
