.eslintrc.cjs
.yarn/
.vscode
node_modules
dist
.turbo
**/*.d.ts
packages/*/esbuild.*
vite.config.*
vitest.config.*
vitest.shared.*
vitest.workspace.*
docs/next.config.mjs
docs/next.config.mjs
packages/*/src/generated
