{
  "printWidth": 120,
  "proseWrap": "preserve",
  "singleQuote": true,
  "semi": false,
  "jsxSingleQuote": true,
  "editorconfig": true,
  "embeddedLanguageFormatting": "auto",
  "arrowParens": "avoid",
  "trailingComma": "none",
  "bracketSpacing": true,
  "quoteProps": "consistent"
}
