.container {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}

.compound {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: rem(6px);
  box-shadow:
    0 4px 10px 0.5px rgba(0, 0, 0, 0.1),
    0 2px 2px -1px rgba(0, 0, 0, 0.4);
  ;
  padding: rem(8px);
  background: var(--likec4-element-fill);

  transition: all 300ms ease-out;

  .title {
    font-family: var(--likec4-compound-title-font-family, var(--likec4-compound-font-family));
    font-optical-sizing: auto;
    font-style: normal;
    text-align: left;
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    line-height: 1;
    opacity: 0.75;
    color: var(--likec4-element-loContrast);
    padding-left: rem(12px);

    :where([data-likec4-navigatable='true']) & {
      padding-left: rem(26px);
    }
  }

  :where(:global(.react-flow__node.selected)) & {
    box-shadow: none;
  }

}

.indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: visible;
  stroke: var(--likec4-element-loContrast);
  transform-origin: center center;
  stroke-width: 6px;

  animation-duration: 800ms;
  animation-name: indicator;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  visibility: hidden;

  :where(:global(.react-flow__node.selected)) & {
    visibility: visible
  }
}

@keyframes indicator {
  from {
    filter: opacity(0.6);
  }

  to {
    filter: opacity(0.4);
  }
}

.navigateBtn {
  position: absolute;
  pointer-events: all;
  left: 3px;
  top: 6px;
  color: var(--likec4-element-loContrast);
  transform-origin: 90% 70%;
  opacity: 0.8;
  transition: all 165ms ease-out;
  transition-delay: 0ms;

  & svg {
    width: 75%;
    height: 75%;
    stroke-width: 1.5;
  }

  --ai-bg: color-mix(in srgb, var(--likec4-element-fill) 1%, transparent);
  --ai-bg-hover: color-mix(in srgb, var(--likec4-element-fill) 65%, var(--likec4-element-stroke));
  background-color: var(--ai-bg);

  & svg:global(.icon) {
    width: 70%;
    height: 70%;
    stroke-width: 1.5;
  }

  :where([data-likec4-shape='browser']) & {
    bottom: 3px;
  }
}

.container {
  :where(:global(.react-flow__node):not(:global(.dragging))) & {
    @mixin hover {
      & .navigateBtn {
        --ai-bg: var(--ai-bg-hover);
        box-shadow: var(--mantine-shadow-lg);
        transform: scale(1.25);
        opacity: 1;
        transition-delay: 250ms;

        @mixin hover {
          --ai-hover: color-mix(in srgb, var(--likec4-element-fill) 50%, var(--likec4-element-stroke));
          transform: scale(1.45);
          transition-delay: 0ms;
        }

        &:active {
          transform: scale(1.15);
          transition: transform 150ms ease-out;
        }
      }
    }
  }
  :where(:global(.react-flow__node.dragging)) & {
  & .navigateBtn {
    transition-delay: 0ms;
  }
}
}
