.likec4embedded {
  cursor: zoom-in;
  transition: all 0.3s cubic-bezier(0.33, 0.6, 0.11, 1.02);
  margin: 1.75rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  --bg-opacity: 0.08;
  background: hsl(var(--nextra-primary-hue) 100% 77% / var(--bg-opacity));
  &:hover {
    transform: scale(1.02);
    --bg-opacity: 0.12;
  }
}
