---
import Default from "@astrojs/starlight/components/PageFrame.astro";
import Hero from '@components/custom/Hero.astro';
import Navigation from '@components/custom/Navigation.astro';

const isCustomPage = Astro.locals.starlightRoute.id === 'custom';
---

{isCustomPage ? (
  <div class="min-h-screen transition-colors duration-300">
	    <Navigation/>
  <Hero/>
  </div>
) :  (<Default {...Astro.props}><slot /></Default>)}
