.html {
  --color-page-background: transparent !important;
  background: transparent !important;

  &:global(.dark) {
    --color-page-background: transparent !important;
    background: transparent !important;
  }

  body {
    background: transparent !important;
  }
}
