.container {
  position: relative;
  width: 100%;
  height: 100%;

  :where(:global(.react-flow__node:focus-within)) & {
    /* border: 20px solid red; */
  }

  --stroke-fill-color: color-mix(in srgb, var(--likec4-element-stroke) 70%, var(--likec4-element-fill));
}

.shapeSvg {
  top: 0px;
  left: 0px;
  position: absolute;
  pointer-events: none;
  fill: var(--likec4-element-fill);
  stroke: var(--likec4-element-stroke);
  overflow: visible;



  --shadow-color: rgba(0, 0, 0, 0.05);
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.15)) drop-shadow(0px 20px 25px var(--shadow-color))
    drop-shadow(0px 10px 10px var(--shadow-color));

  &,
  :where(:not(.indicator)) {
    path,
    ellipse,
    rect,
    circle {
      transition:
        fill 300ms ease-out,
        stroke 300ms ease-out;
    }
  }
}

.indicator {
  /* top: 0px;
  left: 0px;
  position: absolute;
  pointer-events: none;
  overflow: visible; */
  /* fill: var(--mantine-color-dark-0); */
  /* stroke: color-mix(in srgb, var(--likec4-element-stroke) 25%, var(--likec4-element-loContrast)); */
  stroke: var(--likec4-element-loContrast);
  transform-origin: center center;
  stroke-width: 6px;

  :where([data-likec4-shape='queue'], [data-likec4-shape='cylinder'], [data-likec4-shape='storage']) & {
    stroke-width: 10px;
  }

  animation-duration: 800ms;
  animation-name: indicator;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  visibility: hidden;

  :where(:global(.react-flow__node.selected)) & {
    visibility: visible;
  }
}

@keyframes indicator {
  from {
    opacity: 0.6;
  }

  to {
    opacity: 0.4;
  }
}

.fill-elementFill {
  fill: var(--likec4-element-fill);
}
.fill-elementStroke {
  fill: var(--likec4-element-stroke);
}

.element {
  position: relative;
  width: 100%;
  height: 100%;
  padding: rem(24px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: rem(10px);

  &:has(.description):has(.technology) {
    gap: rem(6px);
  }

  :where([data-likec4-shape='queue'], [data-likec4-shape='mobile']) & {
    padding-left: rem(36px);
  }

  :where([data-likec4-shape='cylinder'], [data-likec4-shape='storage']) & {
    padding-top: rem(30px);
  }

  :where([data-likec4-shape='browser']) & {
    padding-top: rem(36px);
  }

  .elementIcon {
    img {
      margin: 0 auto;
      width: auto;
      height: auto;
      mix-blend-mode: hard-light;
    }
    user-select: none;
    pointer-events: none;
  }

  .title {
    text-align: center;
    font-weight: 500;
    font-size: rem(18px);
    line-height: 1.1;
    text-wrap: balance;
    color: var(--likec4-element-hiContrast);
  }

  .technology {
    font-weight: 300;
    font-size: rem(13px);
    line-height: 1;
    text-align: center;
    text-wrap: balance;
    color: var(--likec4-element-loContrast);

    &:has(+ .description) {
      margin-bottom: rem(2px);
    }
  }

  .description {
    font-weight: 400;
    font-size: rem(15px);
    line-height: 1.25;
    text-align: center;
    text-align: center;
    text-wrap: pretty;
    text-align: center;
    text-wrap: pretty;
    color: var(--likec4-element-loContrast);
    letter-spacing: -0.01em;
    text-wrap: pretty;
    white-space-collapse: preserve-breaks;
  }
}

.navigateBtn {
  z-index: calc(var(--layer-overlays) + 1);
  position: absolute;
  pointer-events: all;
  --ai-bg: color-mix(in srgb, var(--likec4-element-fill) 1%, transparent);
  --ai-bg-hover: color-mix(in srgb, var(--likec4-element-fill) 65%, var(--likec4-element-stroke));
  background-color: var(--ai-bg);
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 0);
  transform-origin: 50% 65%;
  opacity: 0.8;
  transition: all 175ms ease-out;
  transition-delay: 0ms;
  /* border-radius: 100%; */

  & svg:global(.icon) {
    width: 70%;
    height: 70%;
    stroke-width: 1.5;
  }

  :where([data-likec4-shape='browser']) & {
    bottom: 3px;
  }
}

.container {
  :where(:global(.react-flow__node):not(:global(.dragging))) & {
    @mixin hover {
      & .navigateBtn {
        --ai-bg: var(--ai-bg-hover);
        box-shadow: var(--mantine-shadow-lg);
        transform: translate(-50%, 0) scale(1.25);
        opacity: 1;
        transition-delay: 130ms;

        @mixin hover {
          --ai-hover: color-mix(in srgb, var(--likec4-element-fill) 50%, var(--likec4-element-stroke));
          transform: translate(-50%, 0) scale(1.45);
          transition-delay: 0ms;
        }

        &:active {
          transform: translate(-50%, 0) scale(1.15);
          transition: transform 150ms ease-out;
        }
      }
    }
  }
   :where(:global(.react-flow__node.dragging)) & {
    & .navigateBtn {
      transition-delay: 0ms;
    }
  }
}
