.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

src/*.ts
src/*.js
!src/*.test-d.ts
!src/*.spec.ts

test-results/*
playwright-report/*
tests/*.spec.ts
!tests/drawio-playground.spec.ts
!tests/search-params.spec.ts
!tests/static-navigation.spec.ts

pnpm-lock.yaml
package-lock.json
