---
import doubleslashDark from '../../assets/sponsors/doubleslash_black.svg'
import doubleslashLight from '../../assets/sponsors/doubleslash_light.svg'
---
<a href="https://doubleSlash.de" target="_blank" rel="noopener noreferrer" class="no-underline">
  <img
    src={doubleslashDark.src}
    alt="doubleSlash"
    class="h-18 dark:hidden"
    loading="lazy"
  />
  <img
    src={doubleslashLight.src}
    alt="doubleSlash"
    class="h-18 hidden dark:block"
    loading="lazy"
  />
</a>
