---
import Demo from './Demo.astro'
import Features from './Features.astro'
import Footer from './Footer.astro'
import Hero from './Hero.astro'
import Navigation from './Navigation.astro'
---

<div class="min-h-screen transition-colors duration-300">
  <Navigation />
  <Hero />
  <Features />
  <Demo />
  <Footer />
</div>
