@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(var(--background) / .8);
  backdrop-filter: blur(4px);
  z-index: 100;
  display: flex;
  place-content: strech;
  place-items: strech;
  will-change: transform;
  animation: fade 0.2s ease-in-out;
  touch-action: pan-x pan-y pinch-zoom;
}

.diagram {
  flex: 1 1 100%;
  overflow: hidden;
}

.diagramTitle {
  position: absolute;
  pointer-events: none;
}

.diagramTitle h2 {
  text-shadow: 1px 1px 4px rgb(17 17 17);
}

.container {
  cursor: zoom-in;
  transition: all 0.3s cubic-bezier(0.33, 0.6, 0.11, 1.02);
  padding: 2rem 1rem;
  border-radius: 0.75rem;
  background: hsl(var(--nextra-primary-hue) 100% 77%/0.1);
}

.embedded {
  cursor: zoom-in !important;
  box-sizing: border-box;
}
