@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 17, 17, 0.8);
  backdrop-filter: blur(4px);
  z-index: 100;
  display: flex;
  place-content: strech;
  place-items: strech;
  will-change: transform;
  animation: fade 0.15s ease-in-out;
}


.container {
  cursor: zoom-in;
  transition: all 0.3s cubic-bezier(0.33, 0.6, 0.11, 1.02);
  padding: 8px;
  border-radius: 0.75rem;
  background: hsl(var(--nextra-primary-hue) 100% 77%/0.1);
}

.embedded {
  cursor: zoom-in !important;
}
