html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.likec4-parsing-screen {
  padding: 1rem;
}
.likec4-parsing-screen section {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.likec4-diagram-loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--vscode-editor-background);
  opacity: 0.7;
}
div.likec4-diagram-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.likec4-error-message {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem;
  background-color: var(--vscode-inputValidation-errorBackground);
  border: 1px solid var(--vscode-inputValidation-errorBorder);
  color: var(--vscode-errorForeground);
}


.likec4-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  justify-content: start;
  /* background-color: var(--vscode-editor-background); */
  opacity: 0.5;
  display: grid;
  padding: 0.25rem 0.5rem;
  justify-content: start;
  transition: all 0.15s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.likec4-container {
  position: fixed;
  inset: 0;
  overflow: hidden;
  --diagram-bg-size: 24px;
  --diagram-bg-position-x: 0;
  --diagram-bg-position-y: 0;

  .konvajs-content {

    &::before {
      content: '';
      position: absolute;
      padding: 0;
      margin: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      touch-action: none;
      user-select: none;
      background-origin: border-box;
      background-attachment: fixed;
      background-image: radial-gradient(var(--button-icon-hover-background) 12%, var(--vscode-editor-background) 12%);
      background-position: var(--diagram-bg-position-x) var(--diagram-bg-position-y);
      background-size: var(--diagram-bg-size) var(--diagram-bg-size);
      z-index: -1;
    }
  }
}
