html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

#root {
  position: relative;
}

.likec4-parsing-screen {
  padding: 1rem;
}
.likec4-parsing-screen section {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.likec4-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.likec4-diagram-loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--vscode-editor-background);
  opacity: 0.7;
}
div.likec4-diagram-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
