@layer reset, base, mantine, tokens, recipes, utilities;

:root {
  --likec4-app-font:
    "IBM Plex Sans",ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --likec4-default-font-family: var(--likec4-app-font);
  --mantine-default-font-family: var(--likec4-app-font);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

#likec4-root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
