:root {
  --likec4-app-font:
    "IBM Plex Sans",ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --likec4-default-font-family: var(--likec4-app-font);
  --mantine-default-font-family: var(--likec4-app-font);
}

body {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
}

#like4-root {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
}
