name: docs

on:
  workflow_call:
  workflow_dispatch:

permissions:
  actions: write
  contents: read
  checks: write
  statuses: write
  deployments: write

env:
  NODE_ENV: production
  TURBO_CACHE_DIR: ${{ github.workspace }}/.turbo

concurrency:
  group: docs-nextjs-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  build-docs:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: Docs NextJS Cache
        uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4
        with:
          path: |
            docs/.next/cache
          key: ${{ runner.os }}-docs-${{ hashFiles('yarn.lock') }}-${{ hashFiles('docs/**/*') }}
          restore-keys: |
            ${{ runner.os }}-docs-${{ hashFiles('yarn.lock') }}-
            ${{ runner.os }}-docs-

      - name: Bootstrap
        uses: ./.github/actions/bootstrap

      - name: Prebuild dependencies
        run: yarn turbo run build --filter='docs-website^...'

      - name: Build NextJS
        working-directory: docs
        run: |
          yarn generate
          yarn build

      - name: upload a build artifact
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4
        with:
          name: docs-website
          path: docs/out/

  deploy-preview:
    name: Deploy to Preview
    runs-on: ubuntu-latest
    needs: build-docs
    timeout-minutes: 10
    environment:
      name: preview
      url: ${{ steps.cloudflare.outputs.url }}
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: download artifact
        uses: actions/download-artifact@65a9edc5881444af0b9093a5e628f2fe47ea3b2e # v4
        with:
          name: docs-website
          path: docs/out/

      - id: cloudflare
        name: publish to cloudflare
        uses: cloudflare/pages-action@f0a1cd58cd66095dee69bfa18fa5efd1dde93bca # v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          projectName: likec4-docs
          workingDirectory: docs
          directory: out
          branch: preview
          wranglerVersion: '3'

  deploy-production:
    name: Deploy to Prod
    # Deploy to Preview if only we are not in a workflow_call
    # or if we are in a workflow_call and the commit message contains 'chore: release'
    if: |
      github.event_name == 'workflow_dispatch' || (
        contains(github.event.head_commit.message, 'chore: release')
      )
    runs-on: ubuntu-latest
    needs: deploy-preview
    timeout-minutes: 10
    environment:
      name: production
      url: ${{ steps.cloudflare.outputs.url }}
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: download artifact
        uses: actions/download-artifact@65a9edc5881444af0b9093a5e628f2fe47ea3b2e # v4
        with:
          name: docs-website
          path: docs/out/

      - id: cloudflare
        name: publish to cloudflare
        uses: cloudflare/pages-action@f0a1cd58cd66095dee69bfa18fa5efd1dde93bca # v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          projectName: likec4-docs
          workingDirectory: docs
          directory: out
          branch: main
          wranglerVersion: '3'
