name: e2e

on:
  workflow_call:
  workflow_dispatch:
    inputs:
      job:
        description: 'Job to run'
        required: true
        default: 'run tests'
        type: choice
        options:
        - run tests
        - update screenshots

env:
  NODE_ENV: production
  FORCE_COLOR: true

jobs:
  e2e-tests:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'workflow_dispatch' || inputs.job == 'run tests' }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: bootstrap
        uses: ./.github/actions/bootstrap

      - name: pack
        run: |
          yarn turbo run package --filter='likec4'

      - name: install e2e dependencies
        working-directory: e2e
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: 'false'
        run: |
          yarn install
          yarn bootstrap

      - name: run playwright tests
        working-directory: e2e
        run: yarn test

      - id: cloudflare
        if: ${{ failure() }}
        name: publish playwright-report
        uses: cloudflare/wrangler-action@392082e81ffbcb9ebdde27400634aa004b35ea37 # v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          command: pages deploy playwright-report --project-name likec4-e2e --commit-dirty --branch preview
          workingDirectory: e2e
          packageManager: yarn

      - name: print url to published report
        if: ${{ failure() }}
        run: |
          echo "::warning::Report published at ${{ steps.cloudflare.outputs.deployment-url }}"

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: e2e/playwright-report/
          compression-level: 9
          retention-days: 5

  e2e-typecheck:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'workflow_dispatch' || inputs.job == 'run tests' }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: bootstrap
        uses: ./.github/actions/bootstrap

      - name: pack
        run: |
          yarn turbo run package --filter='likec4'

      - name: install e2e dependencies
        working-directory: e2e
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: 'false'
        run: |
          yarn install
          yarn bootstrap

      - name: typecheck test
        working-directory: e2e
        run: yarn typecheck

  update-screenshots:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_dispatch' && inputs.job == 'update screenshots' }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      # - uses: actions/create-github-app-token@v1
      #   id: app-token
      #   with:
      #     app_id: ${{ secrets.BOT_APP_ID }}
      #     private_key: ${{ secrets.BOT_APP_PRIVATE_KEY }} 
      - uses: wow-actions/use-app-token@v2
        id: likec4-bot
        with:
          app_id: ${{ secrets.BOT_APP_ID }}
          private_key: ${{ secrets.BOT_APP_PRIVATE_KEY }}      

      - name: bootstrap
        uses: ./.github/actions/bootstrap

      - name: pack
        run: |
          yarn turbo run package --filter='likec4'

      - name: install e2e dependencies
        working-directory: e2e
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: 'false'
        run: |
          yarn install
          yarn bootstrap

      - name: update screenshots
        working-directory: e2e
        run: yarn test:update-screenshots

      - name: create pull request
        id: cpr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ env.BOT_TOKEN }}
          commit-message: "chore: update e2e screenshots"
          title: "chore: update e2e screenshots"
          branch: update-screenshots/${{ github.ref_name }}
          # add-paths: "e2e/tests/**"
          delete-branch: true

      - name: enable automerge
        if: ${{ steps.cpr.outputs.pull-request-number }}
        run: gh pr merge --squash --auto "${{ steps.cpr.outputs.pull-request-number }}"
        env:
          GH_TOKEN: ${{ env.BOT_TOKEN }}}

