name: e2e

on:
  workflow_call:
  workflow_dispatch:
    inputs:
      job:
        description: 'Job to run'
        required: true
        default: 'run tests'
        type: choice
        options:
        - run tests
        - update screenshots

env:
  NODE_ENV: production
  FORCE_COLOR: true

jobs:
  e2e-tests:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'workflow_dispatch' || inputs.job == 'run tests' }}
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4

      - name: bootstrap
        uses: ./.github/actions/bootstrap

      - name: pack
        run: |
          yarn turbo run package --filter='likec4'

      - name: install e2e dependencies
        working-directory: e2e
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: 'false'
        run: |
          yarn install
          yarn bootstrap

      - name: run playwright tests
        working-directory: e2e
        run: yarn test

      - id: cloudflare
        if: ${{ failure() }}
        name: publish to cloudflare
        uses: cloudflare/wrangler-action@9681c2997648301493e78cacbfb790a9f19c833f # v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          command: pages deploy playwright-report --project-name likec4-e2e --commit-dirty --branch preview
          workingDirectory: e2e
          packageManager: yarn

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: e2e/playwright-report/
          compression-level: 9
          retention-days: 30

  update-screenshots:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_dispatch' && inputs.job == 'update screenshots' }}
    steps:
      - uses: wow-actions/use-app-token@v2
        id: likec4-bot
        with:
          app_id: ${{ secrets.BOT_APP_ID }}
          private_key: ${{ secrets.BOT_APP_PRIVATE_KEY }}

      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4
        with:
          fetch-depth: 0
          token: ${{ env.BOT_TOKEN }}

      - name: bootstrap
        uses: ./.github/actions/bootstrap

      - name: pack
        run: |
          yarn turbo run package --filter='likec4'

      - name: install e2e dependencies
        working-directory: e2e
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: 'false'
        run: |
          yarn install
          yarn bootstrap

      - name: update screenshots
        working-directory: e2e
        run: yarn test:update-screenshots

      - name: create pull request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ env.BOT_TOKEN }}
          commit-message: "chore: update e2e screenshots"
          title: "chore: update e2e screenshots"
          branch: update-screenshots/${{ github.ref_name }}
          add-paths: "e2e/tests/**"
          delete-branch: true
