name: main

on:
  push:
    branches:
      - 'main'

permissions:
  actions: write
  checks: write
  contents: read
  statuses: write

env:
  NODE_ENV: production

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    concurrency:
      group: ${{ github.workflow }}-build
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4

      - name: Bootstrap
        uses: ./.github/actions/bootstrap

      - name: Init turborepo-cache
        uses: dtinth/setup-github-actions-caching-for-turbo@v1

      - name: Build
        run: yarn ci:build

      - name: TypeCheck
        run: yarn compile:all

      - name: Test
        run: yarn test

      - name: Run Ð¡LI test
        run: yarn node integration/like4-cli-tests/run-suit.mjs

      - name: Build Docs
        working-directory: docs
        run: yarn turbo-build

  release:
    name: Release
    uses: ./.github/workflows/release.yaml
    if: "github.ref == 'refs/heads/main' && contains(github.event.head_commit.message, 'chore: release')"
    needs: build
    concurrency:
      group: ${{ github.workflow }}-release
    permissions:
      actions: write
      checks: write
      contents: write
      statuses: write
    secrets: inherit

  docs:
    name: Docs
    uses: ./.github/workflows/docs.yaml
    needs: build
    concurrency:
      group: ${{ github.workflow }}-docs
      cancel-in-progress: true
    permissions:
      actions: write
      contents: read
      checks: write
      statuses: write
    secrets: inherit
