name: pkg-pr-new

on:
  workflow_dispatch:

env:
  NODE_ENV: production
  FORCE_COLOR: true

jobs:
  publish:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_dispatch' }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: bootstrap
        uses: ./.github/actions/bootstrap

      - name: build
        run: |
          yarn turbo run build --filter='likec4'

      - name: publish
        run: |
          yarn dlx pkg-pr-new publish --yarn --comment=off './packages/core' './packages/likec4'
