name: playground

on:
  workflow_call:
  workflow_dispatch:

permissions:
  actions: write
  contents: read
  checks: write
  statuses: write
  deployments: write

env:
  NODE_ENV: production
  TURBO_CACHE_DIR: ${{ github.workspace }}/.turbo

concurrency:
  group: playground-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  build-playground:
    name: build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          ref: ${{ github.ref }}

      - name: bootstrap
        uses: ./.github/actions/bootstrap

      - name: build
        run: |
          yarn turbo run build --filter='@likec4/playground'

      - name: typecheck
        run: |
          yarn turbo run typecheck --filter='@likec4/playground'

      - name: upload a build artifact
        uses: actions/upload-artifact@0b2256b8c012f0828dc542b3febcab082c67f72b # v4
        with:
          name: playground-website
          path: apps/playground/dist/

  deploy-playground:
    name: deploy
    runs-on: ubuntu-latest
    needs: build-playground
    timeout-minutes: 10
    environment:
      name: ${{ github.ref == 'refs/heads/main' && 'playground-prod' || 'playground-preview' }}
      url: ${{ steps.cloudflare.outputs.deployment-url }}
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          ref: ${{ github.ref }}

      - name: setup Node.js
        uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
        with:
          node-version: '20'
          cache: 'yarn'

      - name: download artifact
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4
        with:
          name: playground-website
          path: apps/playground/dist/

      - id: cloudflare
        name: publish to cloudflare
        uses: cloudflare/wrangler-action@a08dc762e87e8754e0d56a16a35a70b406bc869f # v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          command: pages deploy dist --project-name=likec4-playground
          workingDirectory: apps/playground
          packageManager: yarn
