name: playground

on:
  workflow_call:
    # Map the workflow outputs to job outputs
    outputs:
      preview_url:
        description: "deployment url for preview"
        value: ${{ jobs.deploy-playground-preview.outputs.url }}
      production_url:
        description: "deployment url for production"
        value: ${{ jobs.deploy-playground-prod.outputs.url }}
  workflow_dispatch:
    inputs:
      environment:
        description: 'Deploy to'
        required: true
        default: 'preview'
        type: choice
        options:
        - preview
        - production

permissions:
  actions: write
  contents: read
  checks: write
  statuses: write
  deployments: write

env:
  NODE_ENV: production

concurrency:
  group: playground-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  build-playground:
    name: build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: ${{ github.ref }}

      - name: bootstrap
        uses: ./.github/actions/bootstrap

      - name: typecheck
        run: |
          yarn turbo run typecheck --filter='@likec4/playground'

      - name: build
        run: |
          yarn turbo run build --filter='@likec4/playground'

      - name: upload a build artifact
        uses: actions/upload-artifact@6f51ac03b9356f520e9adb1b1b7802705f340c2b # v4
        with:
          name: playground-website
          if-no-files-found: error
          retention-days: 5
          path: apps/playground/dist/

  deploy-playground-preview:
    # Deploy to Preview
    # - we are in a workflow_call on main branch and the commit message contains 'chore: release'
    # - we are in workflow_dispatch on main branch
    if: "inputs.environment == 'preview' || github.event_name != 'workflow_dispatch'"
    name: deploy preview
    runs-on: ubuntu-latest
    needs: build-playground
    timeout-minutes: 10
    environment:
      name: 'playground-preview'
      url: ${{ steps.cloudflare.outputs.deployment-url }}
    outputs:
      url: ${{ steps.cloudflare.outputs.deployment-url }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: ${{ github.ref }}

      - name: setup Node.js
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4
        with:
          node-version: '20'
          cache: 'yarn'

      - name: download artifact
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4
        with:
          name: playground-website
          path: apps/playground/dist/

      - id: cloudflare
        name: publish to cloudflare
        uses: cloudflare/wrangler-action@6d58852c35a27e6034745c5d0bc373d739014f7f # v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          command: pages deploy dist --project-name=likec4-playground --commit-dirty --branch preview
          workingDirectory: apps/playground
          packageManager: yarn

  deploy-playground-prod:
    if: "inputs.environment == 'production' || (github.event_name != 'workflow_dispatch' && contains(github.event.head_commit.message, 'chore: release'))"
    name: deploy prod
    runs-on: ubuntu-latest
    needs: build-playground
    timeout-minutes: 10
    environment:
      name: 'playground-prod'
      url: ${{ steps.cloudflare.outputs.deployment-url }}
    outputs:
      url: ${{ steps.cloudflare.outputs.deployment-url }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: ${{ github.ref }}

      - name: setup Node.js
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4
        with:
          node-version: '20'
          cache: 'yarn'

      - name: download artifact
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4
        with:
          name: playground-website
          path: apps/playground/dist/

      - id: cloudflare
        name: publish to cloudflare
        uses: cloudflare/wrangler-action@6d58852c35a27e6034745c5d0bc373d739014f7f # v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          command: pages deploy dist --project-name=likec4-playground --commit-dirty --branch main
          workingDirectory: apps/playground
          packageManager: yarn
