name: playground

on:
  workflow_call:
  workflow_dispatch:

permissions:
  actions: write
  contents: read
  checks: write
  statuses: write
  deployments: write

env:
  NODE_ENV: production
  TURBO_CACHE_DIR: ${{ github.workspace }}/.turbo

concurrency:
  group: playground-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  build-playground:
    name: build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          ref: ${{ github.ref }}

      - name: bootstrap
        uses: ./.github/actions/bootstrap

      - name: build
        working-directory: apps/playground
        run: |
          yarn build:turbo

      - name: typecheck
        working-directory: apps/playground
        run: |
          yarn typecheck

      - name: upload a build artifact
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4
        with:
          name: playground-website
          path: apps/playground/dist/

  deploy-playground:
    name: deploy
    runs-on: ubuntu-latest
    needs: build-playground
    timeout-minutes: 10
    environment:
      name: ${{ github.ref == 'refs/heads/main' && 'playground-prod' || 'playground-preview' }}
      url: ${{ steps.cloudflare.outputs.deployment-url }}
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          ref: ${{ github.ref }}

      - name: bootstrap
        uses: ./.github/actions/bootstrap

      - name: download artifact
        uses: actions/download-artifact@65a9edc5881444af0b9093a5e628f2fe47ea3b2e # v4
        with:
          name: playground-website
          path: apps/playground/dist/

      - id: cloudflare
        name: publish to cloudflare
        uses: cloudflare/wrangler-action@a08dc762e87e8754e0d56a16a35a70b406bc869f # v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          command: pages deploy dist --project-name=likec4-playground
          workingDirectory: apps/playground
          packageManager: yarn
