name: Build and Test [Push]

on:
  push:
    tags-ignore:
      - "*"
    branches-ignore:
      - "main"

concurrency:
  group: ${{ github.ref }}-push-build
  cancel-in-progress: true

jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest]
        node-version: ['18', '20.5']
        include:

          - node-version: '20.5'
            test_cli: true

          - os: ubuntu-latest
            node-version: '20.5'
            build_docs: true

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: Bootstrap
        uses: ./.github/actions/bootstrap
        with:
          node-version: ${{ matrix.node-version }}

      - name: Init turborepo-cache
        if: runner.os != 'Windows'
        uses: dtinth/setup-github-actions-caching-for-turbo@v1

      - name: Build
        run: yarn ci:build

      - name: TypeCheck
        run: yarn compile:all

      - name: Test
        run: yarn test

      - if: ${{ matrix.test_cli }}
        name: Run Ð¡LI test
        run: yarn node integration/like4-cli-tests/run-suit.mjs

      - if: ${{ matrix.test_cli }}
        name: Upload CLI test artifacts
        uses: actions/upload-artifact@v3
        with:
          name: cli-test-artifacts-${{ matrix.os }}-${{ matrix.node-version }}
          path: integration/like4-cli-tests/out/
          if-no-files-found: error
          retention-days: 5

      - if: ${{ matrix.build_docs }}
        name: Build Docs
        working-directory: docs
        run: yarn turbo-build
