name: push

on:
  pull_request:
  push:
    tags-ignore:
      - "**"
    branches-ignore:
      - "main"
      - "releases/*"

concurrency:
  group:  ${{ github.workflow }}-${{github.event_name}}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

env:
  NODE_ENV: production
  TURBO_CACHE_DIR: ${{ github.workspace }}/.turbo

jobs:
  check:
    # If on pull request, run only if coming from forked repos
    if: |
      !contains(github.event.head_commit.message, 'ci skip') && (
        github.event_name == 'push' || github.event.pull_request.head.repo.fork
      )
    timeout-minutes: 10
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, windows-latest]
        # include:

        #   # Build on Windows only with Node 20
        #   - os: windows-latest
        #     node-version: '20'

        #   - os: ubuntu-latest
        #     node-version: '20'
        #     build-docs: true

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: bootstrap
        uses: ./.github/actions/bootstrap
        # with:
        #   node-version: ${{ matrix.node-version }}

      - name: build packages
        run: yarn ci:build

      - name: typecheck
        run: yarn ci:typecheck

      - name: test
        env:
          NODE_ENV: test
        run: yarn ci:test

  check-playground:
    # If on pull request, run only if coming from forked repos
    if: |
      !contains(github.event.head_commit.message, 'ci skip') && (
        github.event_name == 'push' || github.event.pull_request.head.repo.fork
      )
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: bootstrap
        uses: ./.github/actions/bootstrap

      - name: build
        run: |
          yarn turbo run build --filter='@likec4/playground'

      - name: typecheck
        run: |
          yarn turbo run typecheck --filter='@likec4/playground'

  check-docs-astro:
    # If on pull request, run only if coming from forked repos
    if: |
      !contains(github.event.head_commit.message, 'ci skip') && (
        github.event_name == 'push' || github.event.pull_request.head.repo.fork
      )
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: bootstrap
        uses: ./.github/actions/bootstrap

      - name: build
        run: |
          yarn turbo run build --filter='@likec4/docs-astro'

# check-docs-nextjs:
#   # If on pull request, run only if coming from forked repos
#   if: |
#     !contains(github.event.head_commit.message, 'ci skip') && (
#       github.event_name == 'push' || github.event.pull_request.head.repo.fork
#     )
#   timeout-minutes: 10
#   runs-on: ubuntu-latest
#   steps:
#     - uses: actions/checkout@v4
#       with:
#         fetch-depth: 0
#         ref: ${{ github.ref }}

#     - name: bootstrap
#       uses: ./.github/actions/bootstrap

#     - name: build docs nextjs
#       working-directory: docs
#       run: |
#         yarn build:turbo

#     - name: typecheck
#       working-directory: docs
#       run: |
#         yarn typecheck:turbo
