name: test-export-action

on:
  workflow_dispatch:

permissions:
  actions: write
  checks: write
  contents: write
  statuses: write
  pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: export diagrams
        uses: likec4/actions@v1
        with:
          export: png
          path: examples/multi-project/boutique/
          output: "./examples/multi-project/boutique/png"
          version: latest


      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: exported images
          push_options: "--force"
          branch: test-export-action
          create_branch: true
