name: re-deploy template
# When we release a new version of likec4
# We trigger a redeploy of likec4/template
on:
  release:
    types: [published]

jobs:
  trigger-deploy-template:
    name: trigger deploy template
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'likec4' }}
    steps:
      - name: bot token
        id: bot-token
        uses: ./.github/actions/bot-token
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key-base64: ${{ secrets.BOT_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          fetch-user-id: "false"
          configure-git: "false"

      - name: trigger deploy
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ steps.bot-token.outputs.token }}
          repository: likec4/template
          event-type: redeploy
