name: re-deploy template
# When we release a new version of likec4
# We trigger a redeploy of likec4/template
on:
  release:
    types: [published]

jobs:
  trigger-deploy-template:
    name: trigger deploy template
    runs-on: ubuntu-latest
    steps:
      - uses: wow-actions/use-app-token@v2
        with:
          app_id: ${{ secrets.BOT_APP_ID }}
          private_key: ${{ secrets.BOT_APP_PRIVATE_KEY }}

      - name: trigger deploy
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ env.BOT_TOKEN }}
          repository: likec4/template
          event-type: redeploy
