name: re-deploy template
# When we release a new version of likec4
# We trigger a redeploy of likec4/template
on:
  release:
    types: [published]

jobs:
  trigger-deploy-template:
    name: trigger deploy template
    runs-on: ubuntu-24.04
    if: ${{ github.repository_owner == 'likec4' }}
    steps:
      - name: Decode the GitHub App Private Key
        id: decode
        run: |
          private_key=$(echo "${{ secrets.BOT_APP_PRIVATE_KEY }}" | base64 -d | awk 'BEGIN {ORS="\\n"} {print}' | head -c -2) &> /dev/null
          echo "::add-mask::$private_key"
          echo "private-key=$private_key" >> "$GITHUB_OUTPUT"

      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ steps.decode.outputs.private-key }}
          owner: ${{ github.repository_owner }}

      - name: trigger deploy
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ steps.app-token.outputs.token }}
          repository: likec4/template
          event-type: redeploy
