name: vscode

on:
  workflow_call:
  workflow_dispatch:
permissions:
  actions: write
  contents: read

env:
  NODE_ENV: production

jobs:
  publish-vscode:
    name: publish
    runs-on: ubuntu-latest
    timeout-minutes: 10
    # if triggered by workflow_dispatch or
    # by workflow_call on main with a commit message containing "chore: release"
    if: |
      github.event_name == 'workflow_dispatch' || (
        contains(github.event.head_commit.message, 'chore: release')
      )
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: bootstrap
        uses: ./.github/actions/bootstrap

      # - name: Package Extension
      #   id: packageExtension
      #   uses: HaaLeo/publish-vscode-extension@v1
      #   with:
      #     pat: stub
      #     packagePath: packages/vscode
      #     dependencies: false
      #     yarn: true
      #     dryRun: true

      # - name: upload a build artifact
      #   uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874 # v4
      #   with:
      #     name: vscode-extension-vsix
      #     if-no-files-found: error
      #     path: ${{ steps.packageExtension.outputs.vsixPath }}

      # - name: Publish to Visual Studio Marketplace
      #   uses: HaaLeo/publish-vscode-extension@v1
      #   with:
      #     skipDuplicate: true
      #     packagePath: packages/vscode
      #     dependencies: false
      #     yarn: true
      #     pat: ${{ secrets.VSCE_PAT }}
      #     registryUrl: https://marketplace.visualstudio.com
      #     extensionFile: ${{ steps.packageExtension.outputs.vsixPath }}

      # - name: Publish to Open VSX Registry
      #   uses: HaaLeo/publish-vscode-extension@v1
      #   with:
      #     skipDuplicate: true
      #     packagePath: packages/vscode
      #     dependencies: false
      #     yarn: true
      #     pat: ${{ secrets.VSX_PAT }}
      #     extensionFile: ${{ steps.packageExtension.outputs.vsixPath }}

      - name: vsix package
        run: |
          yarn dlx vsce package --out likec4.vsix
        working-directory: packages/vscode
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}

      - name: upload a build artifact
        uses: actions/upload-artifact@604373da6381bf24206979c74d06a550515601b9 # v4
        with:
          name: vscode-extension-vsix
          if-no-files-found: error
          path: packages/vscode/likec4.vsix

      - name: vsce publish
        run: |
          yarn dlx vsce publish --skip-duplicate
        working-directory: packages/vscode
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}

      - name: open vsx publish
        run: |
          yarn dlx ovsx publish likec4.vsix -p $VSX_PAT --skip-duplicate
        working-directory: packages/vscode
        env:
          VSCE_PAT: ${{ secrets.VSX_PAT }}
