name: vscode

on:
  workflow_call:
  workflow_dispatch:
permissions:
  actions: write
  contents: read

env:
  NODE_ENV: production

jobs:
  publish-vscode:
    name: publish
    runs-on: ubuntu-latest
    timeout-minutes: 10
    # if triggered by workflow_dispatch or
    # by workflow_call on main with a commit message containing "chore: release"
    if: |
      github.event_name == 'workflow_dispatch' || (
        contains(github.event.head_commit.message, 'chore: release')
      )
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: bootstrap
        uses: ./.github/actions/bootstrap

      - name: vsix package
        run: |
          yarn dlx vsce package --out likec4.vsix
        working-directory: packages/vscode
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}

      - name: upload a build artifact
        uses: actions/upload-artifact@6f51ac03b9356f520e9adb1b1b7802705f340c2b # v4
        with:
          name: vscode-extension-vsix
          if-no-files-found: error
          path: packages/vscode/likec4.vsix

      - name: vsce publish
        run: |
          yarn dlx vsce publish --skip-duplicate
        working-directory: packages/vscode
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}

      - name: open vsx publish
        run: |
          yarn dlx ovsx publish  --skip-duplicate likec4.vsix
        working-directory: packages/vscode
        env:
          OVSX_PAT: ${{ secrets.VSX_PAT }}
